---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Curriculum">
  <!-- Body ----------------------------------------------------------------------- -->
  <main class="p-4 font-jost hyphens-manual">
    <!-- Page -------------------------------------------------------------------------------------------------------->
    <section
      id="pdfContent"
      class="p-3 break-after-avoid mx-auto lg:w-4/5 rounded-2xl border-2 sm:p-9 md:p-16 lg:mt-6"
    >
      <!-- Name ---------------------------------------------------------------------------------------------------->
      <header
        class="inline-flex justify-between items-baseline mb-4 w-full align-top border-b-4 border-gray-300"
      >
        <section class="block">
          <h1 class="mb-3 text-5xl font-bold text-white">Jailer Vega Meza</h1>
          <!--Job Title--------------------------------------------------------------------------------------------------------->
          <h2
            class="m-0 ml-2 text-2xl font-semibold text-gray-200 leading-snugish"
          >
            Full Stack Developer
          </h2>
          <!--Location --------------------------------------------------------------------------------------------------------->

          <h3
            class="m-0 mt-2 ml-2 text-xl font-semibold text-gray-500 leading-snugish"
          >
            Valledupar-Cesar, Colombia
          </h3>
        </section>
      </header>

      <!-- Column -------------------------------------------------------------------------------------------------->
      <section
        class="col-gap-8 md:col-count-2 break-after-avoid md:h-letter-col-full"
      >
        <section class="flex-col">
          <!-- Contact Information ------------------------------------------------------------------------------------->
          <section class="pb-2 mt-4 mb-0 first:mt-0">
            <!-- To keep in the same column -------------------------------------------------------------------------->
            <section class="">
              <section class="pb-4 mb-2 border-b-4 border-gray-300">
                <ul class="pr-7 list-inside">
                  <li
                    class="mt-1 leading-normal text-gray-500 transition duration-100 ease-in hover:text-white text-md"
                  >
                    <a href="https://portafolio2024-three.vercel.app" class="group">
                      <span
                        class="mr-2 text-lg font-semibold text-gray-400 leading-snugish"
                      >
                        Portfolio:
                      </span>
                      link del portafolio

                      <span
                        class="inline-block font-normal text-gray-500 transition duration-100 ease-in group-hover:text-white"
                      >
                        ↗
                      </span>
                    </a>
                  </li>
                  <li
                    class="mt-1 leading-normal text-gray-500 transition duration-100 ease-in hover:text-white text-md"
                  >
                    <a
                      href="https://github.com/JailerWebdeveloper"
                      class="group"
                    >
                      <span
                        class="mr-5 text-lg font-semibold text-gray-400 leading-snugish"
                      >
                        Github:
                      </span>
                      JailerWebDeveloper
                      <span
                        class="inline-block font-normal text-gray-500 transition duration-100 ease-in group-hover:text-white"
                      >
                        ↗
                      </span>
                    </a>
                  </li>

                  <li
                    class="mt-1 leading-normal text-gray-500 transition duration-100 ease-in hover:text-white text-md"
                  >
                    <a href="mailto:jailerwebwork@gmail.com" class="group">
                      <span
                        class="mr-8 text-lg font-semibold text-gray-400 leading-snugish"
                      >
                        Email:
                      </span>
                      Jailerwebwork@gmail.com

                      <span
                        class="inline-block font-normal text-gray-500 transition duration-100 ease-in group-hover:text-white"
                      >
                        ↗
                      </span>
                    </a>
                  </li>
                  <li
                    class="mt-1 leading-normal text-gray-500 transition duration-100 ease-in hover:text-white text-md"
                  >
                    <a href="https://wa.me/573222861882">
                      <span
                        class="mr-5 text-lg font-semibold text-gray-400 leading-snugish"
                      >
                        Phone:
                      </span>
                      (+57)3222861882
                    </a>
                  </li>
                </ul>
              </section>
            </section>
          </section>
          <!--Summary ---------------------------------------------------------------------------------------------------------->
          <section class="p-2 border-b-4 border-gray-300 first:mt-0">
            <!-- To keep in the same column -->
            <section class="">
              <h2 class="text-xl font-bold tracking-widest text-gray-100">
                Resumen
              </h2>

              <section class="">
                <p class="mb-1 leading-normal text-gray-200 text-md">
                  Tengo experiencia en el desarrollo de aplicaciones web desde
                  su diseño , planteamiento , documentación , hasta su
                  despliegue en servidores privados para la sastifacion del
                  cliente. Principalmente, he desarrollado en React , Astro y
                  Estoy ganando amplia experiencia en el desarrollo con angular
                  , siempre en busca de seguir mejorando mis habilidades y
                  dispuesto a aprender todo lo que se me proponga de forma
                  autónoma y persistente , poseo conocimiento y habilidades en
                  el desarrollo de apis con Node.js y Express, así como
                  experiencia en la gestión de proyectos mediante github , he
                  trabajado en bases de datos SQL y NoSQL como MongoDb.
                  Considero que soy una persona proactiva al momento de aprender
                  lo necesario para sacar adelantes mis proyectos y
                  responsabilidades y espero seguir creciendo de forma
                  profesional.
                </p>
              </section>
            </section>
          </section>
          <!--Education -------------------------------------------------------------------------------------------------------->
          <section class="border-b-2 border-gray-300">
            <!-- To keep in the same column -->
            <section class="p-2">
              <h2 class="mb-2 text-lg font-bold tracking-widest text-gray-100">
                Educacion
              </h2>
              <!-- school --------------------------------------------------------------------------->
              <section class="mt-2 border-b-2">
                <header>
                  <h3
                    class="text-lg font-semibold text-gray-200 leading-snugish"
                  >
                    Universidad popular del cesar - Ingenieria de sistemas
                  </h3>
                  <p class="leading-normal text-gray-200 text-md">Desde 2022</p>
                </header>
                <ul class="mt-2 list-disc list-inside text-gray-200 text-md">
                  <li>
                    <span class="font-semibold capitalize text-md">
                      habilidades:
                    </span>
                    Estructura de datos, Bases de datos, DevOps, Ingenieria de Software
                  </li>
                </ul>
              </section>

              <!--Begin Skills ----------------------------------------------------------------------------------------------------->
              <section
                class="html2pdf__page-break pb-6 mt-0 mb-4 border-b-4 break-after-avoid border-gray-300 first:mt-0"
              >
                <!-- To keep in the same column -->
                <section class="break-after-avoid">
                  <h2
                    class="mb-2 text-lg font-bold tracking-widest text-gray-100"
                  >
                    Habilidades
                  </h2>
                  <section class="mb-0">
                    <section class="mt-1 last:pb-1">
                      <ul
                        class="flex flex-wrap -mb-1 font-bold leading-relaxed text-md -mr-1.6"
                      >
                        <li
                          class="p-1.5 mb-1 leading-relaxed text-white bg-gray-800 habilidades mr-1.6"
                        >
                          HTML5
                        </li>
                        <li
                          class="p-1.5 mb-1 leading-relaxed text-white bg-gray-800 mr-1.6 habilidades"
                        >
                          CSS3
                        </li>
                        <li
                          class="p-1.5 mb-1 leading-relaxed text-white bg-gray-800 mr-1.6 habilidades"
                        >
                          JavaScript
                        </li>
                        <li
                          class="p-1.5 mb-1 leading-relaxed text-white bg-gray-800 mr-1.6 habilidades"
                        >
                          TypeScript
                        </li>
                        <li
                          class="p-1.5 mb-1 leading-relaxed text-white bg-gray-800 mr-1.6 habilidades"
                        >
                          Node.js
                        </li>
                        <li
                          class="p-1.5 mb-1 leading-relaxed text-white bg-gray-800 mr-1.6 habilidades"
                        >
                          React.js
                        </li>
                        <li
                          class="p-1.5 mb-1 leading-relaxed text-white bg-gray-800 mr-1.6 habilidades"
                        >
                          Angular
                        </li>
                        <li
                          class="p-1.5 mb-1 leading-relaxed text-white bg-gray-800 mr-1.6 habilidades"
                        >
                          NoSQL | MongoDB
                        </li>
                        <li
                          class="p-1.5 mb-1 leading-relaxed text-white bg-gray-800 mr-1.6 habilidades"
                        >
                          MySql
                        </li>

                        <li
                          class="p-1.5 mb-1 leading-relaxed text-white bg-gray-800 mr-1.6 habilidades"
                        >
                          Linux
                        </li>
                        <li
                          class="p-1.5 mb-1 leading-relaxed text-white bg-gray-800 mr-1.6 habilidades"
                        >
                          Astro
                        </li>
                        <li
                          class="p-1.5 mb-1 leading-relaxed text-white bg-gray-800 mr-1.6 habilidades"
                        >
                          Github
                        </li>
                        <li
                          class="p-1.5 mb-1 leading-relaxed text-white bg-gray-800 mr-1.6 habilidades"
                        >
                          Web Design
                        </li>
                        <li
                          class="p-1.5 mb-1 leading-relaxed text-white bg-gray-800 mr-1.6 habilidades"
                        >
                          Docker
                        </li>
                        <li
                          class="p-1.5 mb-1 leading-relaxed text-white bg-gray-800 mr-1.6 habilidades"
                        >
                          Express
                        </li>
                      </ul>
                    </section>
                  </section>
                </section>
              </section>

              <!--Experience ------------------------------------------------------------------------------------------------------>
              <section class="border-gray-300 first:mt-0">
                <!-- To keep in the same column ------------------------------------------------------------------------->
                <section class="break-after-avoid experience">
                  <h2
                    class="mb-2 text-xl font-black tracking-widest text-gray-100"
                  >
                    Experiencia
                  </h2>
                  <!--Job 1-->
                  <section class="mb-2 border-gray-300">
                    <header>
                      <h3
                        class="font-semibold text-gray-100 text-md leading-snugish"
                      >
                        Full Stack Developer
                      </h3>
                      <p class="text-sm leading-normal text-gray-500">
                        Agosto 2023 | Freelance
                      </p>
                    </header>
                    <ul class="mt-2 font-normal text-gray-200 text-md">
                      <li>
                        Desarrolle en compañia de un pequeño equipo una
                        aplicacion web encargada del manejo de proyectos de
                        grados para una universidad , dandole seguimiento a cada
                        proyecto , asignacion de docentes , jurado ,
                        actualizacion de proyectos. Modulos de usuarios , login
                        , Descarga de informes entre varios modulos mas. Usando
                        las tecnologias de Reactjs y Nodejs. Fui el encargado
                        del diseño de la aplicacion , desarrollo front end ,
                        consumo de apis ,despliegue de produccion en un entorno
                        Vps mediante apache y docker
                      </li>
                    </ul>
                  </section>

                  <section class="mb-2 border-t-2 border-gray-300">
                    <header>
                      <h3
                        class="font-semibold text-gray-100 text-md leading-snugish"
                      >
                        Front End Developer
                      </h3>
                      <p class="text-sm leading-normal text-gray-500">
                        Enero 2024 | Freelance
                      </p>
                    </header>
                    <ul class="mt-2 font-normal text-gray-200 text-md">
                      <li>
                        Trabaje en el desarrollo de una pagina para una empresa
                        de marketing y ventade productos digitales, siguiendo la
                        metodologia mobile first , ademas de una gran
                        optimizacion del SEO y la configuracion para que tuviera
                        un buen desempeño en los buscadores del navegador
                      </li>
                    </ul>
                  </section>
                </section>
              </section>

              <!-- end Column -->
            </section>
            <!-- end Page -->
          </section>
        </section>
        <button
          class="btn btn-sm md:btn-md lg:mt-5 mt-2 hover:btn-primary"
          id="downloadButton">Descargar CV</button
        >
      </section>
      <script
        is:raw
        src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"
      ></script>
      <script is:raw src="es6-promise.auto.min.js"></script>
      <script is:raw src="jspdf.min.js"></script>
      <script is:raw src="html2canvas.min.js"></script>
      <script is:raw src="html2pdf.min.js"></script>
      <script is:raw>
        document
          .getElementById("downloadButton")
          .addEventListener("click", function () {
            const element = document.getElementById("pdfContent");

            // Clonar el elemento para preservar los estilos originales
            const cloneElement = element.cloneNode(true);

            // Cambiar los estilos de texto a negro en el clon
            const allTextElements = cloneElement.querySelectorAll("*");
            allTextElements.forEach((textElement) => {
              textElement.style.color = "black";
            });

            const habilidades = cloneElement.querySelectorAll(".habilidades");
            habilidades.forEach((habilidadElement) => {
              habilidadElement.style.backgroundColor = "white";
            });

            // Ocultar el botón de descargar en el clon
            const downloadButton =
              cloneElement.querySelector("#downloadButton");
            if (downloadButton) {
              downloadButton.style.display = "none";
            }

            // Establecer el ancho completo en el clon
            cloneElement.style.width = "100%";

            cloneElement.style.heigth = "100%";

            // Generar el PDF a partir del clon, con margen cero
            html2pdf(cloneElement, {
              margin: 0,
              filename: "CV_Jailer_Vega_Meza.pdf",
              image: { type: "jpeg", quality: 0.98 },
              html2canvas: { scale: 4 },
              jsPDF: { unit: "in", format: "A4", orientation: "portrait" },
            });
          });
      </script>
    </section>
  </main></Layout
>
