<nav
  class="absolute lg:right-0 bottom-0 z-20 flex flex-row md:flex-col items-center justify-center gap-7 lg:w-16 lg:h-60 h-14 w-full bg-gray-500 bg-opacity-30 hover:bg-opacity-75 transition-all rounded-t-xl lg:rounded-tl-2xl"
>
  <div class="group relative">
    <button>
      <svg
        class="w-7 h-7 hover:scale-125 hover:text-blue-500 duration-200"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"
        ></path>
      </svg>
    </button>
    <span
      class="absolute lg:top-1 -top-10 lg:-left-[120%] -translate-x-[70%]
  z-20 origin-left scale-0 px-3 rounded-lg border
  border-gray-300 bg-white py-2 text-sm font-bold
  shadow-md transition-all duration-300 ease-in-out
  group-hover:scale-100"
      >Inicio
    </span>
  </div>
  <div class="group relative">
    <button>
      <svg
        class="w-7 h-7 hover:scale-125 hover:text-blue-500 duration-200"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h.01"
        ></path>
      </svg>
    </button>
    <span
    class="absolute lg:top-1 -top-10 lg:-left-[120%] -translate-x-[70%]
    z-20 origin-left scale-0 px-3 rounded-lg border
    border-gray-300 bg-white py-2 text-sm font-bold
    shadow-md transition-all duration-300 ease-in-out
    group-hover:scale-100"
      >Proyectos
    </span>
  </div>

  <div class="group relative">
    <button>
      <svg
        class="w-7 h-7 hover:scale-125 hover:text-blue-500 duration-200"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          fill-rule="evenodd"
          d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-7ZM8 16a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1-5a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
    <span
    class="absolute lg:top-1 -top-10 lg:-left-[120%] -translate-x-[70%]
    z-20 origin-left scale-0 px-3 rounded-lg border
    border-gray-300 bg-white py-2 text-sm font-bold
    shadow-md transition-all duration-300 ease-in-out
    group-hover:scale-100"
      >CV
    </span>
  </div>
  <div class="group relative">
    <button>
      <svg
        class="w-7 h-7 hover:scale-125 hover:text-blue-500 duration-200"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M18.427 14.768 17.2 13.542a1.733 1.733 0 0 0-2.45 0l-.613.613a1.732 1.732 0 0 1-2.45 0l-1.838-1.84a1.735 1.735 0 0 1 0-2.452l.612-.613a1.735 1.735 0 0 0 0-2.452L9.237 5.572a1.6 1.6 0 0 0-2.45 0c-3.223 3.2-1.702 6.896 1.519 10.117 3.22 3.221 6.914 4.745 10.12 1.535a1.601 1.601 0 0 0 0-2.456Z"
        ></path>
      </svg>
    </button>
    <span
    class="absolute lg:top-1 -top-10 lg:-left-[120%] -translate-x-[70%]
    z-20 origin-left scale-0 px-3 rounded-lg border
    border-gray-300 bg-white py-2 text-sm font-bold
    shadow-md transition-all duration-300 ease-in-out
    group-hover:scale-100"
      >Contacto
    </span>
  </div>
</nav>
